@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate {
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2; /* Standard syntax */
    -webkit-line-clamp: 2; /* Limit to two lines */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis (...) */
  }
  